voila
ipyvuetify
voila-vuetify
bqplot
numpy
pandas
numpy
csv
math
plotly.express
plotly 
plotly.io
ipywidgets
IPython.display
folium
folium.plugins
matplotlib.pyplot
pyproj
branca.element
igraph

IPython.core.display
ipywidgets
ipyvuetify
networkx
heapq
random 
pickle